.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;} 
.logo{
    text-align: left;
}
nav ul{
    text-align: right;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
  
}
nav ul li a:hover{
        
       background-color: transparent;
        color: white;
        border-radius: 0;
        transform: scale(1.2);
 }


 /* banner start */
 #banner{
    position: relative;
    height: 100vh;

 }
 .banner-contant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
   padding-top: 10px;
  
 
   
    
 }
 .banner-contant h1{
    width: 700px;
    font-size: 4rem;
    
 }
 .card img{
    width: 100%;
    height: 200px;
    display: block;
}
footer p{
    text-align: left;
    
    font-size:1rem;
}
.icon-menu{
    text-align: right;
}